[2016-02-27 17:25] jethrokuan opened #1 "Go to previous directory"
Store previous directory path in a variable, and allow undo with `z -u`

[2016-02-27 17:46] jethrokuan commented on #1
This is done with `cd` with `cd -`

[2016-02-27 17:46] #1 closed

[2016-02-28 01:08] jethrokuan opened #2 "Array of dirs to exclude"

[2016-02-28 04:09] #2 closed

[2016-02-28 05:29] jethrokuan opened #3 "Tab completions should bypass awk for speed"

[2016-02-28 05:30] jethrokuan opened #4 "add --clean option to clean ~/.z"

[2016-02-28 05:43] #4 closed

[2016-02-28 08:57] #3 closed

[2016-03-02 17:26] jethrokuan opened #5 "Add zo to open directory in native file manager"
Should be trivial but useful.

[2016-03-14 16:13] #5 closed

[2016-04-13 14:51] herrbischoff opened #6 "Installation with fin throws error for requiring `debug`"
Here's the log:

[code]

[2016-04-13 15:08] jethrokuan commented on #6
Right, I think this is because `debug` isn't included as a dependency in fin, but it is in fisherman. I think It's better that I clear off uses for that. Gonna fix it and do a quick push. Thanks for reporting!

[2016-04-13 15:12] jethrokuan commented on #6
I think I fixed it, now it doesn't have any external dependencies whatsoever. Would love for you to try again. Thanks!

[2016-04-13 15:30] jethrokuan commented on #6
I face another problem now:

fin only copies only `.fish` files over, which leaves the .awk files behind. Do you think it would be a good idea to put the awk scripts into the fish files?

Or is this a problem that package managers like fin are supposed to solve?

[2016-04-13 19:56] herrbischoff commented on #6
I tried the updated version and it does not output any error now.

Regarding the awk issue, since `fin` itself uses awk inside the script, I guess going inline would be the way to go.

[2016-04-14 02:06] jethrokuan commented on #6
this was fixed in fin after talking to @bucaran .

I like my awk files outside, but when I bump into issues again, I'll move them into their .fish files.

[2016-04-14 02:06] #6 closed

[2016-04-14 02:17] bucaran commented on #6
@jethrokuan The awk files issue is fixed now, did I miss anything?

[2016-04-14 02:18] jethrokuan commented on #6
@bucaran nope it's fixed!

[2016-04-25 15:47] laughedelic opened #7 "Z_CMD setting doesn't work"
In the `~/.config/fish/config.fish`:

[code]

In the fish:

[code]

What am I doing wrong? I think, it has changed since the fisher 2.0 upgrade.

[2016-04-25 15:48] laughedelic commented on #7
Actually `z` kind of breaks all the time. If I reinstall it, it works, but if I open an new fish session, it doesn't work there.

[2016-04-25 16:17] laughedelic commented on #7
It was my problem with upgrading fisherman to 2.+. Solved.

[2016-04-25 16:17] #7 closed

[2016-04-26 02:21] jethrokuan commented on #7
@laughedelic yup, I think what happened was that you were missing the `conf.d` snippet.

[2016-05-09 09:47] seagle0128 opened #10 "Doesn't work after relaunching fish"
I update to the latest version. z doesn't work after I restart the fish terminal.

I got this error:
`fish: Unknown command 'z'`

if I run `fisher u`, then it works again.

[2016-05-09 10:07] seagle0128 commented on #10
The solution is here: https://github.com/fisherman/fisherman/issues/267.
Close it.

[2016-05-09 10:07] #10 closed

[2016-05-09 10:07] bucaran commented on #10
Thanks.

[2016-05-09 20:39] robsonpeixoto opened #11 "fish: Unknown command 'z'"
Some time the z are not working. I got the error ` fish: Unknown command 'z'`
[code]

[2016-05-09 22:45] jethrokuan commented on #11
Hey, I'm on my phone unfortunately,  but it seems you're missing the conf.d
snippet that's needed for the current versions of fish.  It's on the README
of this repo, and the snippet is required for a few other plug-ins as well.
Cheers!
On 10 May 2016 4:39 am, "Robson Roberto Souza Peixoto" <
notifications@github.com> wrote:

[2016-05-09 23:11] robsonpeixoto commented on #11
Are you talking about it: `curl -L git.io/confd >> ~/.config/fish/config.fish`?
After run it, it starts to work. But I'm using fish 2.2.0. Why it's necessary?

[2016-05-10 02:38] jethrokuan commented on #11
yup. I was talking about that. It's only not necessary from fish v2.3.0
onwards, where it's built into fish.

On Tue, 10 May 2016 at 07:11 Robson Roberto Souza Peixoto <
notifications@github.com> wrote:

[2016-05-10 02:47] #11 closed

[2016-05-18 11:17] bfred-it opened #12 "I keep getting: '<input>' did not match any results"
I just installed `fisher` and then `fisherman/z` but running `z anything` will always return

[code]

If I open a new tab, z is no longer defined. Am I missing some steps? I also tried running `brew install z` and reinstally everything thinking that it would be a dependency but that didn't fix anything.

Incidentally `brew install z; omf install z` brings up a `_z: command not found` message so th

[2016-05-18 11:25] bfred-it commented on #12
Sigh, my bad. I thought that z would just be able to jump to any directory without having to visit it first.

It does work as intended. Thank you for this!

[2016-05-18 11:25] #12 closed

[2016-05-18 12:11] jethrokuan commented on #12
perhaps I wasn't clear enough in the README. :smile:

[2016-05-18 12:21] bfred-it commented on #12
It was me the one who read the first paragraph and then skipped to the other sections :D

[2016-05-19 11:06] aeosynth opened #14 "not found: git.io/confd"
curl -L git.io/confd >> ~/.config/fish/config.fish

this command fails because git.io/confd is not found

[code]

[2016-05-19 11:45] jethrokuan commented on #14
Thanks for reporting this, @bucaran do you mind fixing this? I have no
access a computer for the next two weeks.

In the meantime, you could manually copy the snippet right above that into
config.fish, or upgrade to the beta version of fish (2.3b2).
On 19 May 2016 7:06 pm, "James Campos" <notifications@github.com> wrote:

curl -L git.io/confd >> ~/.config/fish/config.fish

this command fails becau

[2016-05-19 12:08] jethrokuan commented on #14
This should be resolved now!

[2016-05-19 12:37] aeosynth commented on #14
yeah i manually copied the snippet. still gives 404.

[2016-05-19 12:38] aeosynth commented on #14
oh, it's resolved because the url was changed in the readme

[2016-05-19 12:38] #14 closed

[2016-05-19 12:44] aeosynth commented on #14
the man page needs updating - https://github.com/fisherman/z/blob/master/man/man1/z.1#L50:

    curl \-L git\.io/confd >> ~/\.config/fish/config\.fish

[2016-05-19 21:53] jethrokuan commented on #14
Sorry I meant manually copying the lines of code above the snippet into
config.fish.

I'll fix the man page when I get the opportunity.

[2016-05-26 13:49] aeosynth commented on #14
@brj man page still shows the old url

[2016-05-26 14:34] brj commented on #14
@aeosynth Fixed.

Btw, fish-shell 2.3 is officially out, so no need to use that shim anymore, please upgrade to the latest :)

[2016-06-08 12:42] amosbird opened #15 "completion doesn't work for `j`"
After setting `set -U Z_CMD "j" `, completion stops working.

[2016-06-08 20:46] #15 closed

[2016-06-08 20:47] jethrokuan commented on #15
Thanks for reporting. Completions used to be hardcoded to z and zo. Latest commit should fix this issue.

[2016-08-03 07:13] oskarrough opened #16 "Snippet link in readme is broken"
Hey, the snippet link in the README is a 404. Just wanted to let you know.

`curl -L git.io/snippet >> ~/.config/fish/config.fish`

[2016-08-03 07:23] jethrokuan commented on #16
Thanks for the report, the snippet is no longer necessary, since I think it
can be expected that users have fish version >2.3 (except for Ubuntu, where
they will have to add a PPA).

I'll put up a new one just in case and fix it when I get access to my
computer. Thanks!

On 3 Aug 2016 3:13 PM, "Oskar" <notifications@github.com> wrote:

[2016-08-03 12:50] jethrokuan commented on #16
That should do it (:

[2016-08-03 12:50] #16 closed

[2016-08-12 06:27] sourlemon11 opened #17 "Unknown Command 'x86' on tab completion"
See title.
This is from fish debug 3.
``
fish: path_get_path( 'z' )
z l fish: path_get_path( 'z' )
fish: path_get_path( 'z' )
fish: path_get_path( 'x86' )
fish: Job is constructed
fish: Unknown command 'x86'
fish: Job is constructed
fish: Job is constructed
fish: path_get_path( 'x86' )
``

[2016-08-12 07:07] jethrokuan commented on #17
This is indeed weird. @bucaran any clue what's going on here?

[2016-08-12 07:17] bucaran commented on #17
Hi @sourlemon11. What fish version are you running?

[2016-08-12 18:57] sourlemon11 commented on #17
The fish version is 2.3.1.

[2016-08-13 04:10] bucaran commented on #17
This looks like a problem with fish, not z really. @sourlemon11 How about taking this to https://github.com/fish-shell/fish-shell/issues.

BTW what is `fish debug 3`?

[2016-08-13 18:59] Perlence commented on #6
@jethrokuan @bucaran

Is it? I'm confused, awk files are still missing. I'm running fin v7.

[2016-08-13 19:13] bucaran commented on #6
@Perlence Are you using fisherman or fin?

[2016-08-13 19:26] Perlence commented on #6
Yep, I'm using fin this time :smile:

[2016-08-13 19:27] sourlemon11 commented on #17
Yea. It might be an issue with fish. I'll try and run it later with no plugins except for Z.

Fish debug is one of the options for the command fish (fish -d 3). It's in the man docs.

[2016-08-13 19:54] bucaran commented on #6
And what's the problem exactly? I am pretty sure this issue was created based on a very early version of fin, possibly entirely different to the one you are using now :P

[2016-08-13 19:55] bucaran commented on #17
@sourlemon11 Thanks, just to be clear, it's not fish debug, but `fish --debug-level`.

Let me know how that goes.

[2016-08-13 20:10] Perlence commented on #6
Yes, I understand, but I looked to find similar issues here, and I decided that this one is looked close enough.

The problem is that after installing `fisherman/z` with fin, it throws an error on invocation:
[code]

Files z.awk and zadd.awk are missing.

[2016-08-13 20:26] bucaran commented on #6
Gotcha. Yes, fin won't play well with this plugin because it does not copy .awk or any other script files into the functions diretory, only .fish files.

This is not a problem with fin, it's just how it was designed, for simplicity. See this
https://github.com/fisherman/fin/issues/5#issuecomment-222481377

[2016-08-13 20:37] Perlence commented on #6
Ok, I see. So, how would you make this plugin work? Copy awk files yourself, or embed them in a fish file, or something else?

[2016-08-13 20:40] bucaran commented on #6
If you must use z and fin, then copy the .awk files to the same directory where the .fish files are, possibly ~/.config/fish/functions. The _fin_ way is for plugins that use awk/perl to embed the script in the same file.

I'm glad you are using fin. It's my favorite!

[2016-08-13 21:00] Perlence commented on #6
Thank you, I'll try one of the approaches :bow:

[2016-08-14 03:21] sourlemon11 commented on #17
Potatoes Patatoes. Thanks @bucaran, I'll be clearer next time.

So I moved out ~/.config/fish and reinstalled the fisher function. So no omf or any other customization. I removed all the fisher plugins and reinstalled Z. And...I'm still getting the same error when pressing <tab>.

FYI. I'm using this setup.
OS: Debian Jessie 64 bit
Terminal: xfce4-terminal
Fish version: 2.3.1 binary from the debia

[2016-08-14 06:39] bucaran commented on #17
Do you _only_ present this problem with the Z plugin? And, can you paste the entire output from your terminal?

Thanks for your patience!

[2016-08-15 03:51] sourlemon11 commented on #17
Do you mean out of all the plugins (omf and fisher)? I've had no problems with tab completions until this plugin.

[code]

fish -d 3
[code]

[2016-08-15 03:53] bucaran commented on #17
Hi @faho! The `x86` message looks like something only fish could log out. Do you have any idea what could be causing this?

[2016-08-15 03:56] jethrokuan commented on #17
FWIW [here's](https://github.com/fisherman/z/blob/master/functions/__z_add.fish#L17-L19) where I add tab completions for the directories:

I doubt it would cause a problem like that though.

[2016-08-15 04:08] sourlemon11 commented on #17
Well the function is being called from [fish-shell/src/path.cpp](https://github.com/fish-shell/fish-shell/blob/21fc2decd741d3a18c88445e11de8860148060d0/src/path.cpp#L24). I'm not sure if something is being incorrectly called or it's an issue with the function itself.

[2016-08-15 04:13] bucaran commented on #17
@jethrokuan In the code, make sure "$path" holds an actual value. We know very well that's a common source of bugs in shell.

[2016-08-15 04:15] jethrokuan commented on #17
@bucaran it's set to `$PWD`, which should be universally available

[2016-08-15 16:10] faho commented on #17
This is https://github.com/fish-shell/fish-shell/issues/952, which is supposed to be fixed in fish 2.3.0.

The issue was that the `cd` completion would call `eval` on the path, which would try to execute a "(x86)" as a command substitution. It seems this has reappeared here somehow.

@sourlemon11: Can you check that the first `cd.fish` in $fish_complete_path doesn't have "eval" in it anymore? If i

[2016-08-15 23:52] jethrokuan commented on #17
I may be wrong, but I'm quite sure that `z` doesn't call eval to create completions. It does, however, depend on `cat`, `sed`, and `tr`.

[code]

this will find you `cd.fish`, for your convenience.

[2016-08-16 01:41] sourlemon11 commented on #17
Ok. So I followed @faho advice and checked for eval in cd.fish.
[code]
No dice. So I moved out ~/.config/fish again and created a fresh fish dir, added config.fish and the fisher function, fisher rm z, fisher z. Now it appears to work for some reason!? I'm trying to recreate the issue but I'm just left scratching my head wondering what file in my ~/.config/fish was causing issues.

[2016-08-18 03:00] jethrokuan commented on #17
@sourlemon11 sorry for the late reply. I'm glad all your issues have been resolved.

Keep the issue in mind, and when it pops up again let us know ya?

[2016-08-18 03:00] #17 closed

[2016-08-18 16:04] kmiasko opened #18 "z causes cd command to throw errors"
Because of `&` sign in one of the completion paths (i assume) `z` causes a `cd` command to throw some errors messing all the terminal.

`kmiasko ~/.c/fish λ cd conf.d/`
`kmiasko ~/.c/f/conf.d λ cd ..`
`kmiasko ~/.c/fish λ fisher install z`
`Installing 1 plugin/s`
`OK Fetch z github.com/fisherman/z`
`Installing 1 dependency`
`OK Copy getopts`
`Done in 1s 725ms`
`kmiasko ~/.c/fish λ cd conf.d`

comp

[2016-08-18 16:07] jethrokuan commented on #18
Good catch. This also fails for directories with spaces.

I should wrap the completions in double quotes. I shall see what I can do.

[2016-08-18 17:11] jethrokuan commented on #18
@kmiasko it should work now.

Try updating z with `fisher u z` and report back if it's successful :smile:

[2016-08-19 12:43] kmiasko commented on #18
@jethrokuan Works like a charm, thanks.

[2016-08-19 14:11] jethrokuan commented on #18
:+1:  closing as resolved.

[2016-08-19 14:11] #18 closed

[2016-09-10 10:59] vishthemenon opened #19 "Clean Z_DATA selectively"
Sometimes, jumps to certain directories become erroneous after extended periods of usage. Currently, the only way to fix it is by going to the "~/.z" file and removing every line referencing to the directory or running `z --clean` to wipe out Z_DATA which will result in loss of data for other directories.

Feature Request:

`z [-c --clean] <directory_name>`
eg.
`z --c documents` will remove all th

[2016-09-11 16:34] jethrokuan commented on #19
I'm trying to understand your use case here. Would it be better if it were able to clean up directories that no longer exist?

z uses the "last accessed" heuristic, so folders that have not been recently accessed would be necroed and should rank low during completion.

[2016-09-14 11:03] jethrokuan commented on #19
bump?

[2016-09-16 09:06] vishthemenon commented on #19
For the most part, z would jump to the right folder. However, recently, I have been facing this issue.

eg.

I have following folder structure

~/Documents
~/Documents/Projects

Most of the time I in the projects folder and sometimes in the documents folder.
So when I `z projects` it jumps to `~/Documents/Projects` which is perfect. However, when I `z documents`, it goes to `~/Documents/Projects`

[2016-09-16 09:13] jethrokuan commented on #19
That's unfortunately the way `z` works: it matches the full string of the directory. You can blacklist a certain directory if you don't want it to be indexed. I could consider changing the implementation of z to match only the folder name and not the path, but I can foresee certain cases where that would be undesirable.

In general for common folders like `~/Documents`, using z to navigate to them

[2016-09-23 16:10] jethrokuan opened #20 "Clean up invalidated folders"
Over time, the $Z_DATA file grows in size, and will contain folder directories that have once existed, but since then been renamed/deleted.

Proposal:
`z --clean` to delete all entries. The current `z --clean` would be remapped to `z --purge`.

Steps:
1. Open `$Z_DATA`
2. Parse the file line by line, and check if the directory exists (`test -d dir` -- see `man test` for more info).
3. Write existi

[2016-09-23 16:11] jethrokuan commented on #19
Closing in favour of #20

[2016-09-23 16:11] #19 closed

[2016-09-23 16:11] jethrokuan commented on #20
@vishthemenon interested in tackling this?

[2016-10-15 21:22] jlesquembre opened #21 "Output redirection not working"
I think is related to awk.

Try:

`z -l > file`

file is empty and output is printed to stdout

[2016-10-15 22:22] jethrokuan commented on #21
Thanks for the report, and your intuition is right. Should be fixed with ca4b1a996e6d211e882d937602b35f81b87c7c41.

I'll probably need to take some time to clean up the awk code.

[2016-10-16 08:05] jlesquembre commented on #21
Thanks for the fix, works great.

[2016-10-16 08:05] #21 closed

[2016-10-27 17:01] autoferrit opened #22 "z always goes into .git directory"
First, i pretty much never manually `cd` into a projects git directory. But, when i open a fresh shell prompt, and type

[code]

is always brings me to

[code]

and it does this for other projects too that have a `.git` directory. whenever I do `z project` it brings me into `project/.git`

I don't see any configuration options that relate to this. I want `z` to completely ignore ever going into a

[2016-10-28 01:35] jethrokuan commented on #22
Hi there,

I highly doubt that this behaviour is caused by `z`. `z` is not git-aware, and this doesn't happen to me while working with git projects.

I suspect that this behaviour is caused by other fish plugins you have installed.

That said, I missed out the documentation for `Z_EXCLUDE`. I think

[code]

would be a hot-fix to your problem, but I suggest taking another look at the rest of your p

[2016-10-28 01:48] jethrokuan opened #23 "Use regex for Z_EXCLUDE"
Currently `z` does a hard match using `contains`. This is highly limiting, because this means that any subfolders would be ignored as well.

With the new string builtin, fish now has native support for regex matching, this would definitely make z users feel more at home.

Also, document `Z_EXCLUDE` in the README.

[2016-10-30 07:53] autoferrit commented on #22
Yea, ill try that for now. For reference, my installed plugins (via fisherman) are listed below

[code]

[2016-11-04 09:06] seagle0128 opened #24 "error message in startup screen"
I am using fish 2.3 + fisherman in cygwin on Windows 7. Recently I upgraded fisherman and z plugin, and encountered this error while starting fish shell every time. Please check.

[code]

[2016-11-04 09:38] jethrokuan commented on #24
Hi Vincent,

This is due to a recent change I made. Can I check if you cygwin comes with
`tr` and `sed`. This is likely the issue.

On 4 Nov 2016 17:06, "Vincent Zhang" <notifications@github.com> wrote:

[2016-11-07 12:45] jethrokuan commented on #24
sorry, just looked through this proper on a laptop. could you try typing `type sed`  in your prompt?

[2016-11-08 08:50] seagle0128 commented on #24
Thanks. The result is

[code]

[2016-11-08 09:03] seagle0128 commented on #24
Thanks. Sed version is 4.2.2.
The result is

[code]

[2016-11-09 02:04] jethrokuan commented on #24
just to double confirm can you type `cat $Z_DATA | sed -e "s/|.*//" -e "s/^.*\$/\"&\"/g" | tr '\n' ' '`. Just trying to isolate the problem to this line.

[2016-11-09 09:58] seagle0128 commented on #24
[code]

[2016-11-14 04:30] jethrokuan commented on #24
@jbucaran any clue what's going on? looks like sed and tr are both present.

[2016-11-14 04:46] jbucaran commented on #24
@seagle0128 Does the problem persists? Is Z_DATA empty?

That would explain the first error.

[2016-11-14 04:49] jethrokuan commented on #24
the output of the line shows that it isn't empty though

[2016-11-15 05:00] seagle0128 commented on #24
@jbucaran The issue persists. and Z_DATA is not empty.

[2016-11-15 06:48] jbucaran commented on #24
@seagle0128 Interesting! Are you signed up to the fisherman team on Slack? If you are I could live assist you whenever both of us have time again.

If you sign up, I'll ping you when I am available to see if I catch you.

→ [join.fisherman.sh](https://fisherman-wharf.herokuapp.com/)

[2016-11-24 03:32] TangMonk opened #25 "Chinese language support"
error like following image if history contain Chinese words:

![image](https://cloud.githubusercontent.com/assets/3498786/20585869/a4788da4-b239-11e6-8fd7-70223dca2e46.png)

Several situations:

1. I remove line `/Users/tangmonk/Dropbox (个人)|1|1479957811` in `~/.z` works again
2. change `Dropbox (个人)` to `Dropbox 个人` works, it same the brackets problems

[2016-11-24 17:07] jethrokuan commented on #25
Could you `cd` into the `个人` folder and show me the results of `dirname (status -f)`?

[2016-11-25 02:54] TangMonk commented on #25
@jethrokuan

just print a dot

[code]

[2016-11-25 02:57] TangMonk commented on #25
Hi @jethrokuan , Are your from Singapore? I have heard that many Singaporeans use Chinese.

[2016-11-25 04:48] jethrokuan commented on #25
@TangMonk yes I am, but most of us use English as the dominant language, especially those who do programming. Can you print `$PWD` in the same directory? I misread my own code :P

[2016-11-25 05:36] TangMonk commented on #25
[code]

[2016-11-25 06:05] jethrokuan commented on #25
right, fish uses the bracket syntax for commands, there will be a need for escaping. This is not a chinese character support issue. Odd that no one has picked this up yet.

[2016-11-25 12:51] jethrokuan commented on #25
I actually can't replicate your issue:

[code]

[2016-11-28 03:21] TangMonk commented on #25
sorry for late comment, I using `fisher update z` to update, it works again

[2016-11-28 03:21] #25 closed

[2016-12-02 05:15] jethrokuan commented on #24
I'm going to close this for now, feel free to reopen if the issue persists.

[2016-12-02 05:15] #24 closed

[2016-12-25 09:25] explosic4 opened #26 "~/.z file changes owner to root after run `z` in `sudo fish`"
After run `z` command in `sudo fish` mode, the `~/.z` file will change owner to root, and I got `permission denied` error when I back to normal mode.

```awk: ~/.config/fish/functions/z.awk:34: fatal: cannot open file '~/.z\' for reading (Permission denied)```

[2016-12-25 12:12] jbucaran commented on #26
@explosic4 What should z do in this case then?

[2016-12-25 15:21] explosic4 commented on #26
@jbucaran maybe change the permission mode of `~/.z` file to `-rw-rw-rw-` so the user can access it after leaving `sudo` mode.

Currently not only the owner is changed after `sudo` mode, the permission mode is also changed to `-rw-------`

[2016-12-25 15:39] jbucaran commented on #26
@explosic4 I don't think z should be responsible of changing file permissions. What do you think @jethrokuan?

[2016-12-26 11:16] jethrokuan commented on #26
@jbucaran @explosic4 it shouldn't change file permissions. Perhaps the temp file was created with root permissions only: this will need to be corrected. I'll need to take a look at the underlying code again (its been a while). Thanks for the report.

[2016-12-27 06:30] seagle0128 commented on #24
Recently I noticed this issue is related to Cygwin itself. The PATH is incorrect while loading fisher plugins. If using absolute path (e.g. /bin/sed), the error disappears. I think it's about env loading issue. Your opinion?

[2016-12-27 07:05] jethrokuan commented on #24
it's not using absolute paths now? It's hard to comment on the issue, since you do have the tools required, `tr` and `sed` and this has nothing to do with how fish loads the plugins.

[2016-12-27 07:10] jbucaran commented on #24
Hey @seagle0128 Can you share your config.fish?

[2016-12-28 07:15] jethrokuan commented on #26
I'm curious how you installed fisherman and z, because for me it's only available for the current user, and not available with `su` or `sudo fish`.

[2016-12-29 14:41] seagle0128 commented on #24
Hi @jbucaran, there is no specific configurations in config.fish. The issue exists even if the config.fish is empty.

Hi @jethrokuan I'm going to reinstall Cygwin on Windows 7. For now I have to set PATH=/bin to start the console to load z plugin correctly. z doesn't use absolute paths in __z_complete.fish.

[2016-12-29 19:41] jethrokuan commented on #24
__z_complete reads from your `Z_DATA` file, which contains absolute paths.

[2016-12-30 04:46] seagle0128 commented on #24
@jethrokuan  I mean "cat", "tr" and "sed" cannot be found unless using "/bin/cat", "/bin/tr" and "/bin/sed".

[2016-12-30 05:15] jethrokuan commented on #24
That could be an issue of fish running in cygwin, but its unlikely.

On 30 Dec 2016 12:46 PM, "Vincent Zhang" <notifications@github.com> wrote:

[2016-12-30 07:26] jbucaran commented on #24
@seagle0128 Could this be a problem with how fish handles $PATH as an array (instead of a string:string:...)?

[2016-12-30 15:32] seagle0128 commented on #24
@jbucaran I don't think so. No idea of it. I install Cygwin on Windows 10 for my another laptop. No such an issue with the same configuration.

[2016-12-30 17:30] jethrokuan commented on #24
From what I see `/bin` is not in `$PATH` which is why absolute paths are required to access tr and sed. However, this conflicts with the fact that `type sed` seems to find it at `/bin/sed`, so this seems to be either a cygwin or fish issue.

[2016-12-31 14:31] seagle0128 commented on #24
@jethrokuan you got the point. Thanks!

[2016-12-31 20:05] jethrokuan commented on #24
@seagle0128 no problem, feel free to reach out to us if you face any more issues.

[2017-01-21 12:57] explosic4 commented on #26
@jethrokuan  I installed z with `fisher z`, but I am not sure how I installed fisherman.

[2017-01-21 20:37] tokozedg opened #27 "Allow sub directory matching"
Original `z` allows jumping into sub directory. From z man:
`z foo bar     cd to most frecent dir matching foo, then bar`

Adding this feature would be useful.

[2017-01-23 17:10] jethrokuan commented on #27
@tokozedg sorry I took a while to reply; was busy organizing a hackathon 😄

Can I clarify:

1. You want this to match `/foo/...../bar` over `/foo/.../baz`, or:
2. `/.../foo/..` is not found, so it matches `.../bar/..` instead

[2017-01-23 17:50] tokozedg commented on #27
Hi,

If I have following  directory structures: `/foo/demo/bar/` and `/something/bar/`
And `/something/bar/` is more frecent than `/foo/demo/bar/`
Than `z foo bar` should move to `/foo/demo/bar` and `z bar` to `/something/bar/`

[2017-01-24 03:04] jethrokuan commented on #27
Thanks for your input, I'll take a look at this during my very limited free time. I can't guarantee a fix before summer break.

[2017-01-24 03:05] jethrokuan commented on #22
Closing this for now, feel free to reopen if it happens again.

[2017-01-24 03:05] #22 closed

[2017-01-24 03:58] jbucaran commented on #27
@tokozedg

z foo bar should move to /foo/demo/bar and z bar to /something/bar/

I understand the desired behavior, but what's the current behavior in the above scenario?

[2017-01-24 07:49] tokozedg commented on #27
@jethrokuan great thanks.
@jbucaran the second input is ignored, `z` will jump to the dir matching first input.

[2017-01-26 18:39] lardissone opened #28 "Verbose on change directory"
I'm getting this kind of verbosing every time I change a directory:

    '/Users/lardissone/.z.yz5sE7' -> '/Users/lardissone/.z'

Also when I use the `z` command (I assume it's because it's changing directories too)

Is this a setting I can disable on my config?

[2017-01-26 18:43] lardissone commented on #28
Sorry, it was my fault.

I've added an alias to `mv`:

    alias mv 'command gmv --interactive --verbose'

[2017-01-26 18:43] #28 closed

[2017-01-27 17:09] depressiveRobot opened #29 "`fisher z` installs the omf version"
Hi!

When trying to install your plugin, the omf version gets installed:

[code]

[2017-01-28 01:15] jethrokuan commented on #29
Fisherman installs for cache too; I think you'd have to remove z completely
(fisher rm z -f) then reinstall it again. Alternatively, just use
namespaced z: fisherman i fisherman/z

On 28 Jan 2017 1:09 AM, "Marvin Frommhold" <notifications@github.com> wrote:

[2017-01-28 01:27] jbucaran commented on #29
@depressiveRobot The UI could be improved a bit, but you know that z was installed from the cache from:

[code]

Yes, that'd work.

[2017-01-28 01:31] jethrokuan commented on #29
Made many typos because I was typing from my phone:

Its fisher i fisherman/z

On 28 Jan 2017 9:27 AM, "Jorge Bucaran" <notifications@github.com> wrote:

[2017-01-28 01:43] jbucaran commented on #29
I would recommend to wipe z from the system first, so that you can just `fisher z`.

[2017-01-28 13:18] #29 closed

[2017-03-30 05:07] ntsuji commented on #24
I am sorry to bring up the old issue, but I am having same problem.

When I add ``/bin`` to the Windows's system environment variable ``PATH``, or edit ``~/.config/fish/functions/__z_complete.fish`` adding ``/bin/`` to ``cat``, ``sed`` and ``tr``, the error disappear.

[2017-03-30 05:48] jethrokuan commented on #24
You should have `/bin` in `PATH` so that `cat`, `sed` and `tr` can be accessed without stating its path. I don't think that's a unreasonable requirement.

[2017-04-09 16:37] amir20 opened #30 "auto complete functionality not behaving correctly"
Hello there,

This might not be a bug. I want to make sure I am understanding how `z` should behave correctly.

## Problem
`z <tab>` doesn't sort by frequency.

## Example
`z phantom` yields to `~/Workspace/phantomjs-node`.

`z phantom<tab>` shows
[code]

As you can see, `phantom-docker` shows up first. Shouldn't `phantomjs-node` be the first on the list?

[2017-04-09 17:15] jethrokuan commented on #30
hi @amir20,

If you take a look at https://github.com/fisherman/z/blob/master/functions/__z_complete.fish, you'll notice that no processing is being done to produce completions.

I'm afraid that calling the awk script upon `<tab>` would be too involved, and wish to keep this simple.

[2017-04-09 17:53] amir20 commented on #30
Hm ok. That makes sense. You can close. Thanks!

[2017-04-09 17:53] #30 closed

[2017-04-12 15:01] aristidesfl opened #31 "Improve startup time"
During a chat on Gitter fish-shell/fish-shell , [Kurtis Rader](https://github.com/krader1961) - one of the core contributors - [suggested](https://gitter.im/fish-shell/fish-shell?at=58e843c38bb56c2d1187db3e) that the startup time of this plugin could be improved by modifying [this line](https://github.com/fisherman/z/blob/1.1/functions/__z_complete.fish#L2):

[code]

[2017-04-12 15:10] jbucaran commented on #31
Definitely room for improvement there, here is a start:

[code]

[2017-04-13 04:08] jethrokuan commented on #31
Agreed. I'll take a look at it at the start of May, once my exams are over. Feel free to send a PR though. 😄

[2017-05-05 03:11] jethrokuan commented on #31
Just pushed a change, should hopefully solve this issue: https://github.com/fisherman/z/commit/748fc0fd8119515f65e073cc08dba5d3db829eb5

[2017-05-05 20:59] aristidesfl commented on #31
Nice. did you measure the time difference? is awk faster than the string builtin which kurtis suggested?

[2017-05-06 01:35] jbucaran commented on #31
@aristidesfl The string builtin is supposed to be faster than awk for most simple to "intermediate" tasks. But as soon as you mix it with any fish construct, if/while, etc., expect a dramatic performance drop.

[2017-05-06 04:25] jethrokuan commented on #31
Also, we're dealing with structured data here, so awk fits the task really well.

[2017-05-06 08:42] jethrokuan commented on #31
Closing as resolved.

[2017-05-06 08:42] #31 closed

[2017-05-06 16:17] aristidesfl commented on #31
@jbucaran implementation using string:

[code]

[2017-05-06 16:23] aristidesfl commented on #31
Do yo even need to remove the newlines? https://github.com/fisherman/z/commit/748fc0fd8119515f65e073cc08dba5d3db829eb5#diff-8acb27c0d8c9f82638db3460675b73c7R2 produces a different result than the original command doesn't it?

[2017-05-07 07:31] jethrokuan commented on #31
Re newlines, not needed; turns out `complete` handles newlines as well.

Awk version:
[code]

string version:
[code]

I actually have no idea how to interpret this data , but it seems that they're practically equivalent.

[2017-05-07 16:24] aristidesfl commented on #31
Maybe time is not precise enough to measure this?

[2017-05-07 17:58] aristidesfl commented on #31
@jethrokuan does it also handle unescaped paths with spaces and other strange characters?

[2017-05-07 18:28] aristidesfl commented on #31
It turns out current and previous versions are broken if any path contains a `"` character. Previous version might support single quote characters `'`.

Opened a PR with fix using string builtin.

[2017-05-15 21:44] wgslr opened #33 "A single ' in a visited path causes autocomplete error"
Steps to reproduce:
create a directory with a name containing single apostrophe, eg.
[code]

Now every time you change directories (`cd`) there is a huge error message

[2017-05-16 01:57] jethrokuan commented on #33
hi @wgslr, could you update z with `fisher z`? I'm following your steps, and can't reproduce with the latest `z`.

[2017-05-16 17:07] wgslr commented on #33
Thank you @jethrokuan, updating everything whith `fisher up` indeed solved the issue. Sorry for bothering you!
For my defence, it was a problem with z for sure since deleting corresponding line from '~/.z' would solve the problem temporarily.

[2017-05-16 17:07] #33 closed

[2017-05-16 17:21] jethrokuan commented on #33
no issue! I think this was fixed recently as well, with one of the latest PRs.

[2017-06-08 03:08] arooni opened #35 "z works but spits out some sort of error sporadically (Ubuntu 16.04 ; fish 2.6.0 ; tmux 2.2)"
Ubuntu 16.04 ; fish 2.6.0 ; tmux 2.2

I'm seeing this error message quite often.  I see it when just changing directory... or *every* time I run z.  I have tried fisher rm z --purge and installing again but I'm seeing same behavior.  Any ideas what I can do differently?

======================
cd
[I]  ~  cd ..
complete: Unknown option “-- --- -------------- ----- ---------- ----------------------

[2017-06-08 03:54] jethrokuan commented on #35
can you paste the contents of your `~/.z` file here?

[2017-06-08 03:56] arooni commented on #35
https://gist.github.com/da6983067a1d93a4caff668e78b67a54

[2017-06-08 04:00] arooni commented on #35
oops ; you wanted ~/.z  here it is

https://gist.github.com/6a2e570e83241bcdf8106999a8dc1406

[2017-06-09 02:13] jethrokuan commented on #35
I can't reproduce, with fish 2.6.0 and your `.z` file.

Can you try `string replace -r '\|.*' '' < $Z_DATA | string escape`, and see if your output raises any alarms

[2017-06-16 00:23] arooni commented on #35
I purged the .z file; and I don't get that message any more... but what I do get instead is 'No Matches' even when I just cd.

Example:
[I]  ~/workspace  cd
[I]  ~  cd Documents/
No matches.

... even if I have been to ~/Documents before.  Ideas?

[2017-06-16 02:02] jethrokuan commented on #35
If `Documents/` is not in your `~/.z` file then it'll turn up "No Matches"

[2017-07-28 01:23] arooni commented on #35
Is there a way to suppress these "no matches" messages when I'm simply
cd'ing into different directories?  I love the tool by the way

On Thu, Jun 15, 2017 at 9:02 PM Jethro Kuan <notifications@github.com>
wrote:

--

may today be the best day of your life,
-------
david parkinson
founder - aroonilabs.com
blog - brofist.com
twitter - @brofist <https://twitter.com/brofist>

[2017-07-28 02:32] jethrokuan commented on #35
I just noticed that you're using `cd` as an alias for `z`. In general, I don't recommend this. For example, if you're in a folder `/foo` and want to go to `/foo/ab` but have never been to `/foo/ab` before, and your `~/.z` has any folder that matches `ab`, you wouldn't ever be able to `cd` into that folder.

I can add an option to mute the "No matches" messages.

[2017-07-30 22:46] arooni commented on #35
Hmm I guess I should just let cd be cd and use z when I want to jump to a particular directory huh.

I honestly didn't remember changing the definition of cd in fish... but sounds like I should just remove that?  z is keeping track of the directories I visit anyway and I can just use z when I'm ready to jump somewhere in particular ?

[2017-07-30 23:08] jethrokuan commented on #35
Yep, that's precisely how I use it. Changing `cd` can lead to unexpected behaviour for plugins that don't guard against it. I [once](https://github.com/fisherman/z/pull/34) didn't. Once you get used to dividing your folder navigation to jumping elsewhere and direct traversal, `z` should speed things up a little.

Tbh this piece of software is due for a code review, but I haven't been spending enou

[2017-08-06 00:24] arooni commented on #35
Gotcha.  I was reviewing my cd definition and it looks like it doesn't
invoke z ;  how did you establish that?

[I]  ~  functions cd
# Defined in /usr/share/fish/functions/cd.fish @ line 4
function cd --description 'Change directory'
        set -l MAX_DIR_HIST 25

    if test (count $argv) -gt 1
        printf "%s\n" (_ "Too many args for cd command")
        return 1
    end

    # Skip history

[2017-08-06 03:43] jethrokuan commented on #35
That is very strange, from what I see you shouldn't get the "No matches" message using `cd`...

[2017-11-04 08:47] jethrokuan commented on #26
@explosic4 reviving this again. What do you think the appropriate behaviour should be? The file can be created with rw permissions for all users and groups. I'd much rather leave these things to the OS.

[2017-11-04 09:10] explosic4 commented on #26
Instead of replacing the `$Z_DATA` file with the new file, I think we can just overwrite its content:
[code]
This will leave the permission and owner unchanged and solve the problem.

[2017-11-04 11:58] explosic4 commented on #27
@tokozedg @jethrokuan Due to the current parsing of arguments, you need to quote the directories when providing multiple dir names.

Belows are the current behavior of z:
`z -l 'foo bar'` 'foo bar' is the argument of option -l
`z -l foo bar` foo is the argument of option -l, bar is the bare argument and is ignored
`z foo bar` foo, bar are both bare argument, but only the first bare argument is use

[2017-11-04 12:39] jethrokuan commented on #26
@explosic4 I like this approach. Great suggestion!

[2017-11-09 18:42] jnns opened #38 "No jump to shortest matching path"
[rupa/z](https://github.com/rupa/z) provides the following feature which apparently is also implemented in [fisherman/z](https://github.com/fisherman/z) but does not work for me:

# Test scenario

[code]

I expect the directory to be changed to `foo` but I'm taken to the most *frecent* entry instead – not the shortest match.

[2017-11-09 19:15] jethrokuan commented on #38
@jnns did you confirm the same behaviour to exist in rupa's z? I don't think you'll ever be taken to `/foo` because it's not explicitly in the `z` file, and `z` only ever brings you to directories that are explicitly listed in the file.

[2017-11-09 20:02] jnns commented on #38
@jethrokuan I'm not sure whether a line went missing during copy'n'paste but I retried the following:

[code]

This is what happens with rupa's z:

[code]

The behavior differs in the two implementations. Rupa's approach comes in handy when you want to return to a project root quickly, for example.

[2017-11-10 01:28] jethrokuan commented on #38
I can see where you're coming from. I'll look into it!

[2017-11-16 09:00] jnns commented on #38
If anyone else is having this problem: a workaround I found useful is to use

    z 'foo$'

This makes use of a regular expression that matches for a line end.

[2017-11-25 12:12] jethrokuan opened #39 "fish 2.7.0: look into using argparse"

[2017-12-06 05:37] jethrokuan commented on #20
Resolved by https://github.com/fisherman/z/commit/2d0016cd4b6c1ad1d8a5fb6bf02849cf026747d8

[2017-12-06 05:37] #20 closed

[2018-01-09 10:51] jethrokuan commented on #26
https://github.com/fisherman/z/commit/c323913826a90b7ccc82a9c4c0297b1544b560fa should've resolved it I think.

[2018-01-09 10:51] #26 closed

[2018-01-10 05:36] #38 closed

[2018-01-10 05:37] jethrokuan commented on #38
@jnns let me know if it doesn't work. my primitive testing tells me this works.

[2018-01-10 05:39] jethrokuan commented on #27
https://github.com/fisherman/z/pull/41 should resolve this issue immediately, since we're now back in sync with the original z.

[2018-01-10 05:40] #35 closed

[2018-01-10 05:41] jethrokuan commented on #35
@arooni closing this issue for now, please let me know if it's still happening.

[2018-01-10 15:45] externl opened #43 "Since latest update ~/.z seems to be ignored"
Just updated to the latest commit. My `~/.z` file is full of stuff.

[code]

Howerver, `z` seems have started from scratch. `z --list` just shows the one directory I cd' to after updating, likwise for `z dir`.  Has the z file moved?

EDIT: Looking at the last commit, maybe it's using a new format and the old file was not migrated?
EDIT 2: Entries in `~/.z` appear consistent.

[2018-01-10 15:59] jethrokuan commented on #43
Hi, looks like it's this commit: https://github.com/fisherman/z/commit/c69b75ca43eb5e0c44f02e683029b1932fe0be33

The default z file has moved to a location more consistent with best practices. you can set `$Z_DATA` to point back to `~/.z` if you wish.

[2018-01-10 16:00] externl commented on #43
Where is the new location? `z --help` still indicates `~/.z`.

[2018-01-10 16:00] jethrokuan commented on #43
could you `echo $Z_DATA`? also, `z --list` is not a verbatim print of `$Z_DATA`, now that there's some handling of common paths.

[2018-01-10 16:01] externl commented on #43
[code]

[2018-01-10 16:01] jethrokuan commented on #43
I think it might be an issue with `z --list`, let me take a look into this.

[2018-01-10 16:03] externl commented on #43
Regular jumping isn't working for me either.

[2018-01-10 16:06] jethrokuan commented on #43
Hmm okay, I can't replicate that, but let me revert the latest commit and
look into it further.

On 11 Jan 2018 12:03 AM, "Joe George" <notifications@github.com> wrote:

[2018-01-10 16:09] jethrokuan commented on #43
@externl update to latest commit and let me know if it works now?

[2018-01-10 16:25] externl commented on #43
Ok, so I did a `fisher update` and now `$Z_DATA` is in the new location....

[2018-01-10 16:27] externl commented on #43
I copied `~/.z` to `~/.local/share/z/data` and it's working now.

[2018-01-10 16:35] externl commented on #43
Somehow `~/.z` was destroyed. It now only contains 6 lines. Before the update it was over 100.

[2018-01-10 17:43] jethrokuan commented on #43
There's nothing this destructive in the plugin I believe. Unless you ran `z --clean` or `z --purge`.

[2018-01-10 17:43] jethrokuan commented on #43
I'll close it for now, let me know if it comes up again.

[2018-01-10 17:43] #43 closed

[2018-01-10 18:42] externl commented on #43
Will do, you can probably un-revert your commit. TBO I have no idea why the env was so messed up.

[2018-01-10 18:44] jethrokuan commented on #43
I made a mistake in the `z --list`, should be fixed in https://github.com/fisherman/z/pull/44

[2018-01-11 10:43] jnns commented on #38
Thank you for your efforts in fixing this! Seems to work flawlessly now.

[2018-01-11 11:48] jethrokuan commented on #38
awesome!

[2018-01-16 20:50] externl commented on #43
After running `fisher update`, my z data file seems to have been erased again!

[2018-01-17 02:00] jethrokuan commented on #43
can you walk through the same steps above (e.g. printing $Z_DATA), I can't help you without any information

[2018-01-17 19:05] externl opened #46 "Expressions that start with / are always printed in echo and list mode (maybe more)."
[code]

I wouldn't expect anything to be printed for the second call. Also happens with `--list`.

I tested with https://github.com/rupa/z, it prints nothing for the `z -e` case.

[2018-01-17 19:11] externl opened #47 "Impossible to capture output from --list"
This should return nothing:
[code]
This makes it impossible to do something like:
[code]

Works fine with echo.
[code]

Likewise it seems output of `--list` is sent to `stderr`.

[code]

Afaict only `common: ` should be sent to `stderr`

[2018-01-17 19:45] externl commented on #43
Ok, I've figured out how to reproduce.

Run `fisher update`, and while it's running open a new tab/window. In this new window z's data file will have been re-initialized.

[2018-01-18 02:07] jethrokuan commented on #46
I'm using this special case where expressions that start with `/` bypass `z`.

This is because you can use fish's autocomplete to generate paths that start with `/`. In that scenario, it doesn't need to go through `z` anymore.

Is this causing trouble for you? I use this quite often, and I think it makes sense.

[2018-01-18 02:09] jethrokuan commented on #47
This is likely because it is awk that is doing the printing. I'll look into it when I find the time.

[2018-01-18 02:24] jethrokuan commented on #43
This sounds like an issue with `fisherman` and not this plugin. Don't think this is a huge deal though.

[2018-01-18 14:36] externl commented on #46
No trouble, I just noticed it when testing something else and noticed it's not how the `sh` version behaves.

I don't really follow the use case though, the path I tested was "hardcoded" and do not plan on autocompleting.  Maybe I'm missing something.

[2018-01-18 15:19] jethrokuan commented on #46
Suppose you have directories `foo` and `foobar` in the `$Z_DATA` file. Typing `z fo` and `<TAB>` wil show you the completions for the directories, specifically their absolute paths. You can then choose one to tab complete to, and the command will bypass `z` and `cd` into the directory.

This allows you to choose which folder to `z` into, since the completions are obtained by parsing the `$Z_DATA`

[2018-01-18 16:13] externl commented on #46
Okay, but how does that relate to expressions that start with `/` and echo/list mode.

[2018-01-18 16:21] jethrokuan commented on #46
That's precisely how echo works. It echoes the directory z will try to `cd` into. I can add another conditional to fix the list case.

[2018-01-19 18:48] externl commented on #46
Okay, but I still don't follow, considering the two examples in my original comment. There is no completion (let's say they were scripted), why would the one starting with `/` always print?

[2018-01-19 20:03] externl commented on #47
I haven't figured out the specifics of exactly why rupa z does it, but I see where it comes from.

The main stderr redirect:
https://github.com/rupa/z/blob/master/z.sh#L150
https://github.com/fisherman/z/blob/master/functions/z.awk#L12

[code]

Howerver, in rupa z there is also:
https://github.com/rupa/z/blob/master/z.sh#L214
[code]
Which redirects `stderr`  into `stdout`.

It's not obvious to to

[2018-01-19 20:42] externl commented on #47
The other issue, where output of `--list` can't be captured is caused by https://github.com/fisherman/z/blob/master/functions/__z.fish#L59

[code]

This ends up printing to `stderr` and and `target` is empty.

[2018-01-20 07:32] jethrokuan commented on #46
In the second case, the awk script `z` calls is not invoked at all, so what should the return result be?

[2018-01-20 13:19] jethrokuan commented on #47
Your comment sounds like a reasonable solution. A PR would be much appreciated!

[2018-01-21 15:21] externl commented on #47
Looking at this line https://github.com/fisherman/z/blob/master/functions/__z.fish#L63
[code]
I don't how there would ever be any `;`'s, and list should now already be sorted from the updated awk. Also, this section sorts in reverse, where the awk list sort does not.

Currently, this section is skipped because `target` is empty. Can we remove this section now?

[2018-01-21 15:23] jethrokuan commented on #47
yes, there should probably be a test case for this as well the `list` flag as well

[2018-01-23 20:34] externl commented on #47
PR submitted. I had to rework the main `__z` a little to better handle `--list` mode printing the common path to `stderr`.

[2018-01-24 07:36] andyperisho opened #50 "Updating plugin resets Z_DATA"
Whenever I run `fisher u`, my Z_DATA is reset and I lose all history.
Is this a bug? If not, is there a way to go around that without having to manually backup than restore before every fisher update?

[2018-01-24 14:55] externl commented on #50
Same as https://github.com/fisherman/z/issues/43

[2018-01-24 15:44] externl commented on #46
I think it should at least check that the directory exists.

[2018-01-24 18:04] #47 closed

[2018-01-24 18:05] jethrokuan commented on #46
I'm inclined to just let the awk script run its course, don't think it'll be that much of a delay.

By this logic, before z tries to cd into the directory, it should check that the directory exists too. `Z_DATA` can contain directories that no longer exist.

[2018-01-25 04:22] jethrokuan commented on #50
There isn't a good reason for the file to be wiped automatically, and it shouldn't be. `uninstall.fish` doesn't wipe the files.

In any case i can't replicate:

[code]

[2018-01-25 05:06] jethrokuan commented on #46
Should be fixed by #51

[2018-01-25 05:43] andyperisho commented on #50
Based on #43 it does look like it's a fisherman update problem. If it's the case, is there a relevant issue opened at fisherman's main repo? If yes, I'll close this one and link to the other.

[2018-01-25 05:48] jethrokuan commented on #50
I'm not sure what's the true cause. Let's see what @JorgeBucaran thinks.

[2018-01-25 21:43] externl commented on #46
Great, thanks.

[2018-01-25 21:43] #46 closed

[2018-01-25 21:53] externl commented on #50
I can get it to happen reliably when I open a new shell while doing a `fisher update`. @andyperisho can you verify this?

My initial guess was some sort of race condition between `fisher update` is calling `uninstall.fish`  and a new shell calling z without having loaded `conf.d/z.fish`. Not sure what would happen here, or if it's even the case, just speculating.

[2018-01-25 21:58] externl commented on #50
What's also interesting is that when it happens it's always the same dirs that are in the new file:

[code]

[2018-01-25 22:28] externl commented on #50
Doing a fisher update and printing every time a dir is added.
Good update:
[code]

Bad update:
[code]

[2018-01-25 22:31] externl commented on #50
I'll debug this more later.

[2018-01-25 23:48] externl commented on #50
Ok, I think I see what's happening. There is a race condition when doing many cd's in parallel. I can look into a fix.

[2018-01-26 00:10] externl commented on #50
Submitted PR. Sorry for the noise, apparently I can't type a message without 100 typos.

[2018-01-26 16:14] #50 closed

[2018-02-03 08:23] jethrokuan commented on #39
Resolved with #41

[2018-02-03 08:23] #39 closed

[2018-02-03 08:23] #27 closed

[2018-02-03 08:23] jethrokuan commented on #27
works on my machine, feel free to reopen if it's still not the case for you.

[2018-02-08 02:37] donjar opened #53 "`z` does not work on folder names with parantheses"
## Steps to reproduce
1. `mkdir ~/\(whatever\)`
2. `z ~/\(whatever\)`

## Expected result
It changes directory to `~/(whatever)`

## Actual result
`'/home/donjar/(whatever)' did not match any results⏎`

## Versions
[code]

[2018-02-08 04:39] jethrokuan commented on #53
Looks like awk prints out the result in single quotes if the string has brackets in it:

after tweaking `z` to print `$target`:

[code]
❯ z code                                                                                         12:37:27 PM
/home/jethro/Documents/Code
[code]

[2018-02-08 06:09] rdegges opened #55 "Error: argparse?"
I just installed this plugin with fisher, and I get the following output:

[code]

Any idea? I'm running ubuntu latest.

[2018-02-08 08:53] jethrokuan commented on #55
you're likely to be running a version of fish that does not have argparse. I suggest upgrading your fish version to at least 2.7.0. In the case of ubuntu, that would involve adding the appropriate PPA.

If you don't want to upgrade fish, you can install the legacy version of this plugin: `fisher z@pre27`

[2018-02-09 20:45] externl opened #56 "List option printing in reverse order"
This used to work, I suspect
https://github.com/fisherman/z/commit/5e8d0e2c900d6a8c9704e153a8126f776d9d2f3c
[code]

[2018-02-09 20:48] externl commented on #53
What about running it though `string escape`?
[code]

[2018-02-10 02:12] jethrokuan commented on #53
how would you pass the quoted string to string escape? i.e.

[code]

how to transform `$test` into a string without quotes?

[2018-02-10 03:11] jethrokuan commented on #56
Fixed in #57

[2018-02-10 03:11] #56 closed

[2018-02-10 19:21] externl commented on #53
There's also:
[code]

[2018-02-10 19:22] externl commented on #53
Maybe the arg should be escaped before being passing into awk (I haven't looked the impl)?

[2018-02-16 18:24] aswinmohanme commented on #55
Can confirm on Fedora 27, the updates are still to reach the repos

[2018-02-26 10:21] #55 closed

[2018-03-14 04:39] ElijahLynn commented on #55
@jethrokuan solution to run `fisher z@pre27` works, in my case I am on fish 2.3.1 on RHEL7.

[2018-04-13 16:10] peey opened #59 "-x option"
From [rupa/z](https://github.com/rupa/z)

     -x     remove the current directory from the datafile

Use Case: Let's say I've moved the directory from one place to another. It'll take some time for z to learn that the new directory is the path I want to go to, especially if the old path was very frequently used. Instead, if I have an option to nuke the current director from the datafile, it can g

[2018-04-13 16:14] peey opened #60 "z does not check if directory exists before trying to cd into it"
If I delete a directory I expect it to be gone from z's list too. Perhaps the easy way of doing this would be to check if the directory exists before cding to it, and if it doesn't then trying the next best match.

Steps to reproduce:
 1. `mkdir random-folder-name`
 2. `cd random-folder-name`
 3. `cd ../`
 4. `z random-folder-name` to see if it works
 5. `rmdir random-folder-name`
 6. `z random-fo

[2018-04-17 13:07] jethrokuan commented on #59
am a little busy now, I'll add this in in a few weeks.

[2018-05-23 04:52] #59 closed

[2018-05-23 04:56] jethrokuan commented on #60
This logic flow adds quite a bit of complexity, which I want to avoid in shell scripts. Unlike changing directories, removing directories does not have a hook that fish shell can listen on. I'm closing this as a `wont-fix` for now, but I'm open to PRs that can achieve this with simplicity.

[2018-05-23 04:57] #60 closed

[2018-05-25 10:14] nunojesus opened #64 "Logo design"
Hi Hello I am looking for open source projects to contribute graphical design, I have done several jobs for free in opensource projects, I would like to know if you are interested that I make a logo for this your project ?.

Greetings

Nuno Jesus

[2018-05-25 14:39] jethrokuan commented on #64
Hi Nuno, that's a very generous offer! I'd gladly accept a logo PR. However, do note that this is a port of the [original z project](http://github.com/rupa/z), so you should either: (1) contribute/offer to contribute a logo to that repo if it's not fish-specific, or (2) design a logo that makes sense for this port. Thanks!

[2018-10-05 19:59] amir20 opened #66 "Doesn't work with fisherman v3"
For reference https://github.com/jorgebucaran/fisher/issues/452
@jorgebucaran

[code]

[2018-10-05 21:43] lardissone commented on #66
Neither works with omf.

[2018-10-06 04:57] #66 closed

[2019-01-11 10:43] rgieseke opened #70 "'~' for home directory"
Thanks for this amazing tool/port to fish!

Could there be a way to replace "/home/username/" or "/Users/username" with "~" in the completions?

[2019-01-11 16:19] jethrokuan commented on #70
Could you explain why you'd want this behaviour? `z` logs the absolute path to the file, hence the completions would always be valid (if the folder still exists).

[2019-01-13 22:47] jethrokuan commented on #70
The tab completions (if that's what you were referring to) was not an original feature of z, and was built because it was easy to do so in this fish port. That said, it was never meant to be for how z were to be used.

In most cases, typing `z partial_dir` should be sufficient, and is the primary way people use it. I'm not sure it's worth adding additional code around this, but I'll leave this iss

[2019-01-14 08:13] rgieseke commented on #70
Cool, thanks a lot for the explanation! In both cases I'd find it easier to check whether it's the directory I wanted if there would be only "~".

I had already briefly once tried to add this, should it theoretically be sufficient to change the $PWD in https://github.com/jethrokuan/z/blob/master/functions/__z_add.fish#L3 to a path where $HOME is replaced in $PWD?

(I see that this could be problem

[2019-01-14 08:22] jethrokuan commented on #70
I'm not sure why you would see the directory path. In the main use-case, the user would automatically be changed to the directory without prompting.

If you insist, I recommend that you keep the data file the same, storing absolute paths, and then in the completions using `string` to sub any occurrence of `$HOME` with `~` before returning.

[2019-01-18 09:44] manuel-uberti opened #71 "TAB completion not showing complete path"
I am using latest `z` (updated through `fisher`) on Fish 3.0.0, and I have this in my `config.fish`:
[code]
Whenever I try to jump to previously visited directory, hitting <kbd>TAB</kbd> does not complete the path. So, for instance:
[code]
If I hit <kbd>Enter</kbd>, I end up in a directory (which in this particular case is the directory I want, but it isn't always the case).

But if I hit <kbd>TAB

[2019-01-18 10:20] jethrokuan commented on #71
Hi,

This is definitely not intended, but I can reproduce this as well.

However, it doesn't look like something I can easily fix. The code has already been written to generate the completions once, after the function definition: https://github.com/jethrokuan/z/blob/master/conf.d/z.fish#L40

Completions do indeed work after manually running `__z_complete`. This seems to be a situation where the li

[2019-01-18 10:51] manuel-uberti commented on #71
I'm not really familiar with Fish code, so I'm not sure how to help here. You can count me in for tests, though. :)

[2019-01-18 11:03] jethrokuan commented on #71
what I was trying to get is that there's nothing much I can do here, the behaviour we're seeing is (I'm guessing) a result of some race condition that arises from how fish evaluates the code.

[2019-01-18 11:59] manuel-uberti commented on #71
Probably worth mentioning @faho then, and see if he's got some clue about this.

[2019-01-18 12:49] faho commented on #71
Simple: There is already a thing called "j", and fish ships completions for it.

Since z does not ship a completion file, it'll still autoload that one, and that includes:

[code]

which will erase all completions for the "j" command.

[2019-01-18 13:16] manuel-uberti commented on #71
Thanks @faho, I confirm that using the default `z` instead of `j` works as expected.

[2019-01-18 13:35] manuel-uberti commented on #71
Well, actually I'd like to have <kbd>j</kbd> working, but it's ok. :)

[2019-01-21 05:08] jorgebucaran commented on #70
I think this is impossible. Try this:

[code]
[code]

As you can see fish expands `~` to `$HOME`. I agree it would be nice if we could, though.

[2019-01-21 07:42] rgieseke commented on #70
@jorgebucaran I don't understand the example you're showing but maybe it's related to what i found?

I tried changing in `__z_complete.fish`:

[code]

I still get expanded items with `z -l`

Trying only

[code]

in the shell works as expected.

[2019-01-21 07:49] jethrokuan commented on #70
yup @jorgebucaran is showing that the complete function expands `~`, so it's impossible for a completion to contain `~`.

[2019-01-21 07:53] jorgebucaran commented on #70
@rgieseke See my screenshot. It shows I added a `~` tab completion to some `foo` command. (There is no `foo` command, but that's irrelevant now.)

<img width="594" alt="screen shot 2019-01-21 at 16 51 04" src="https://user-images.githubusercontent.com/56996/51459718-d3618c80-1d9c-11e9-9da6-2481bb5e8a22.png">

Still fish shows my full `$HOME` (`/Users/x`) instead of `~`, which is what we wanted.

[2019-01-21 07:54] jorgebucaran commented on #70
@rgieseke See my screenshot. It shows I added a `~` <kbd>Tab</kbd> completion to some `foo` command. (There is no `foo` command, but that's irrelevant now.)

<img width="594" alt="screen shot 2019-01-21 at 16 51 04" src="https://user-images.githubusercontent.com/56996/51459718-d3618c80-1d9c-11e9-9da6-2481bb5e8a22.png">

Still fish shows my full `$HOME` (`/Users/x`) instead of `~`, which is what we

[2019-01-21 08:01] jorgebucaran commented on #70
@rgieseke Yeah, you can escape it:

[code]
or
[code]

...and this is the result.

[code]

This, however, is worse, because you have an invalid path now and it looks ugly.

[2019-01-29 01:21] jethrokuan commented on #53
@donjar should be fixed by #72 , you can try it now!

[2019-01-29 01:41] #64 closed

[2019-02-28 07:22] jethrokuan commented on #53
Should be fixed now, closing.

[2019-02-28 07:22] #53 closed

[2019-02-28 07:22] jethrokuan commented on #70
Closing as unsolvable.

[2019-02-28 07:22] #70 closed

[2019-02-28 18:14] Benjamin-Lee opened #74 "prints a blank line in Fish version 3.0.2"
I just updated to Fish 3.0.2 and am now having `z` print a blank line after changing directories:

[code]

When it used to do
[code]

This does not happen when I just type `z`:
[code]
Any ideas?

[2019-02-28 22:33] #74 closed

[2019-02-28 22:34] krobelus commented on #74
My bad, this should be fixed now

[2019-03-06 21:07] agarzon opened #75 "string escape: Invalid escape style 'regex'"
Since recent updates, now I get this message with uses z command.

[code]

Still lands in the correct folder as before, but always showing that warning.

And this is very well related with the latest commit: https://github.com/jethrokuan/z/commit/4909feac4538592733c677060d9106e9beadbb19

[2019-03-07 00:18] krobelus commented on #75
Should be fixed now, I tested it on fish 2.7 and 3.0

[2019-03-07 00:18] #75 closed

[2019-03-07 01:55] agarzon commented on #75
Updated the plugin, the problem persist.

[2019-03-07 03:40] jethrokuan commented on #75
@agarzon can you post your fish version information?

[2019-03-07 05:09] agarzon commented on #75
All the most recent:

➜ fish --version
fish, version 2.7.1

➜ fisher --version
fisher version 3.2.8 ~/.config/fish/functions/fisher.fish

➜ cat /etc/redhat-release
CentOS Linux release 7.6.1810 (Core)

[2019-03-07 07:41] krobelus commented on #75
@agarzon Sorry for the troubles, I accidentally pushed to the wrong remote. Now that https://github.com/jethrokuan/z/commit/c398f1dd944ceba0cee9d1710c370d27763fb867 is in, this should finally be fixed.

[2019-03-07 07:45] jethrokuan commented on #75
@krobelus looks like in fish to redirect both stdout and stderr somewhere the redirection comes last:

`string escape --style=rege > /dev/null 2>&1`

[2019-03-07 14:23] agarzon commented on #75
Tested, all good now. 👍

[2019-05-11 08:49] LucaMoschella opened #78 "Computer-independent configuration"
It would be great if the `z` config files would be computer independent (I'm having problems moving `fish` from one computer to another automatically due to it)

I think it should be enough to use paths relative to the home directory `~/path` instead of absolute paths `/home/user/path`

[2019-05-11 11:41] jethrokuan commented on #78
I generally don't recommend also using the same z cache file across computers, the cache tends to build up quickly too so in practice it hasn't really affected me. It's also difficult/impossible to support the workaround you suggested, dealing with `~` is tricky: see https://github.com/jethrokuan/z/issues/70

[2019-05-11 12:10] LucaMoschella commented on #78
I understand.

However fish-shell introduced the file `fish_variables` in order to be
computer independent.
May it be possible to keep that file be computer-independent? (So that it
can be synchronised across computers)

Il sab 11 mag 2019, 13:41 Jethro Kuan <notifications@github.com> ha scritto:

[2019-05-11 12:25] jethrokuan commented on #78
No, fish autoexpands `~`, so the variables inside will always be absolute paths.

I too use fish across multiple computers, and I don't synchronize the `fish_variables` file, and I don't think it's meant to be used that way. If you have custom variables you need to set, consider making a custom plugin for them. This could just be `set -U` directives in a file in the `conf.d` folder.

[2019-05-11 12:29] LucaMoschella commented on #78
I was thinking to put those variables somewhere else

I opened an issue about it yesterday (https://github.com/fish-shell/fish-shell/issues/5870) (I didn't know that the "problem" were the configuration variables of `z` in the `fish_variables`)

They confirmed that moving the entire `.config/fish` should word, and the `fish_variable` has been introduced exactly to be computer-independent:

[2019-05-11 13:36] jethrokuan commented on #78
this plugin doesn't set that manually. It does however call a `set` directive, which in turn gets the variable value stored in the `fish_variables` file. faho is not wrong in that the behaviour in fish is that `fish_variables` is machine-independent by default there.

What I'm saying is that because fish expands paths automatically, it's impossible as far as I know to set the variables to relative

[2019-05-11 16:21] LucaMoschella commented on #78
Got it. I didn't know how `set` works.

The only alternative that I can think of is to do another configuration file `.config/fish/.z`, but I'm not sure if it's the right way to proceed

[2019-05-12 04:13] jethrokuan commented on #78
If you're using fisherman, the way I do it, and many others, is to only sync the `fishfile` across the computers. Then, running `fisher` on both machines should pull down the same plugins and result in the exact same setup.

For example, mine looks like this: https://github.com/jethrokuan/dotfiles/tree/master/fish/.config/fish

[2019-05-14 16:56] LucaMoschella commented on #78
Yeah, I'll manage somehow. Probably I'll move the colors definitions into the `conf.d` as you suggested

[2019-05-22 00:49] jethrokuan commented on #78
Closing for now, feel free to reopen if you have any more suggestions.

[2019-05-22 00:49] #78 closed

[2019-08-07 09:42] fresswolf opened #79 "How can regular expressions be used as parameters?"
In the examples and test cases I don't see any regular expressions used. Can they be used? How would I jump to a path ending with foo? (not matching /path/foobar but matching /path/foo and /path/foofoo)

[2019-08-07 10:18] jethrokuan commented on #79
`z` can't be used that way, if you want to jump to a specific folder matching a string, consider using tab complete `z foo <TAB>` should contain the folder you want in the completion list.

[2019-08-07 12:27] fresswolf commented on #79
Ok thanks for the clarification, I think I can live with that. I just wondered if it was possible because the documentation names the command's arguments "regex1" and "regex2". This is misleading and should be renamed in my opinion

[2019-08-08 04:29] jethrokuan commented on #79
Right, yes my bad, thanks for the report!

[2019-08-19 09:45] #79 closed

[2019-12-05 06:25] geoffreywiseman opened #81 "Freezes on MacOS?"
Seeing some weird slowdowns on macOS that seem to come down to this z integration.

I'm in macOS, changing into a directory where I've just downloaded an exorcism exercise in Rust, and `cd` is freezing in a weird way, so I check my process list and see:
`awk -v path /Users/geoffrey/work/learning/exercism/rust/reverse-string -v now 1575526304 -F`

I was suspicious that it was `z` since I'd only ins

[2019-12-05 08:36] krobelus commented on #81
try executing the command below, it is essentially what z is doing to update the `$Z_DATA` when changing directories; check if it shows any error.
Also check the contents of your `$Z_DATA` file, it should have lines like this:
`/some/path|1|1575534980` (path, ranking, last used)

[code]

[2019-12-05 15:01] geoffreywiseman commented on #81
TBH, I uninstalled, because I was having a hard time changing directories and I didn't know the quickiest way to disable a fisher plugin. I'll reinstall, and if it recurs, I'll let you know.

[2019-12-12 10:13] mcarans opened #82 "Z error when launching fish from PyCharm"
~/.config/fish/conf.d/z.fish (line 40):
__z_complete
^
from sourcing file ~/.config/fish/conf.d/z.fish
        called on line 9 of file ~/Applications/pycharm-community/plugins/terminal/fish/config.fish
from sourcing file ~/Applications/pycharm-community/plugins/terminal/fish/config.fish
        called during startup

I'm running PyCharm Community 2019.3 on Linux Mint 19.2. When I start a terminal

[2019-12-12 11:08] jethrokuan commented on #82
Can I see the contents of `~/Applications/pycharm-community/plugins/terminal/fish/config.fish`? It's likely that PyCharm's terminal doesn't autoload the `~/.config/fish/functions` folder, causing this issue.

[2019-12-12 11:14] krobelus commented on #82
It looks like they set `XDG_CONFIG_HOME` to source their own config; which results in `~/.config/fish/{functions,completions}` being missing from `$fish_function_path` and `$fish_complete_path` respectively.

Same for `$__fish_config_dir`, which results in https://youtrack.jetbrains.com/issue/IDEA-189670

[2019-12-12 11:21] mcarans commented on #82
`if test -n "$OLD_XDG_CONFIG_HOME"
  set XDG_CONFIG_HOME "$OLD_XDG_CONFIG_HOME"
else
  set -e XDG_CONFIG_HOME
end

if test -d ~/.config/fish/conf.d
  for f in ~/.config/fish/conf.d/*.fish
    source $f
  end
end

if test -d ~/.config/fish/functions
  for f in ~/.config/fish/functions/*.fish
    source $f
  end
end

if test -f ~/.config/fish/config.fish
  . ~/.config/fish/config.fish
end

if test -

[2019-12-12 11:21] krobelus commented on #82
Disabling shell integration seems in PyCharm Preferences seems to fix it, see https://youtrack.jetbrains.com/issue/IDEA-167217

It would be nice to bring a proper fix upstream, it looks like the shipped `config.fish` doesn't do much anyways, so it seems unnecessary to execute fish with a different config home.

[2019-12-12 11:30] mcarans commented on #82
I can see that there are lots of fish issues against PyCharm eg.:
https://youtrack.jetbrains.com/issue/IDEA-169111 (Fish user functions not loaded)
https://youtrack.jetbrains.com/issue/IDEA-189670 (Fish user functions and terminal still broken)
https://youtrack.jetbrains.com/issue/IDEA-227054 (Fish terminal integration loads functions after conf.d (unlike fish itself)) It says "I encountered this

[2019-12-12 11:32] jethrokuan commented on #82
I believe the fix in https://youtrack.jetbrains.com/issue/IDEA-227054 is the ideal one as well, but wow I had no idea fish integration in Pycharm was so hacky

[2019-12-12 11:40] mcarans commented on #82
I've added a comment to that JetBrains issue. Hopefully they'll get around to making the fix.

[2019-12-12 11:42] #82 closed

[2019-12-18 10:39] mcarans commented on #82
It will be fixed in PyCharm 2020.1:
https://youtrack.jetbrains.com/issue/IDEA-227054#focus=streamItem-27-3873336.0-0

[2020-01-10 22:58] rien333 opened #83 "Ability to retain a larger history of directories"
I've noticed that some directories that I haven't visited in a while are sometimes forgotten by `z`. This could be intended behavior, of course. Still, working on different projects, it's a bit of bummer that I can't navigate quickly to a directory I once frequented.

Is there a  way to configure how fast `z` forgets directories? Is there some sort of variable I can tweak to increase its "history"

[2020-01-11 07:58] jethrokuan commented on #83
I don't think `z` ever forgets directories. There's however some confusing behaviour when `z` is run with sudo, resulting in the cache being otherwise write-protected. Are you doing anything sudo-related?

[2020-01-11 08:47] rien333 commented on #83
Nope, I never run `z` in conjunction with sudo.

Running fish from git master, btw. I just noticed I haven't upgraded `fisher` or `z` in a while, will see if this weird behavior persists after upgrading.

Oddly enough, `~/.local/share/z/data` contained just 150 lines before I upgraded, which seems a bit low after more than a year of usage. Just now, I `cd`'ed to some directories that where not in

[2020-01-11 08:53] jethrokuan commented on #83
I suspect it's because of the move of the cache file, to comply to XDG standards some time ago: https://github.com/jethrokuan/z/commit/c69b75ca43eb5e0c44f02e683029b1932fe0be33

[2020-01-11 09:06] rien333 commented on #83
I have had this machine since 2018/2019, so that seems fairly unlikely.

[2020-01-13 08:41] rien333 commented on #83
Don't think this still happens, but will keep an eye out.

[2020-01-13 08:41] #83 closed

[2020-01-16 16:44] mcky opened #84 "Feature request - add a directory without cding"
I use `z -e` a lot for in scripts to go to directories I rarely cd to, so some folders which are in reality the most used, stay lower down the rankings.

I'd like these directories to be updated in the Z_DATA file, possibly manually through something like `z -a $dir`. I'd manually call `__z_add` in the scripts but that relies on the `$pwd`.

Happy to raise a PR if you think this is worth adding to

[2020-01-16 17:16] jethrokuan commented on #84
Never thought `z` would ever be used in a script, that seems somewhat dangerous/non-deterministic.

I suppose __z_add can optionally take a directories as arguments, and use pwd otherwise, if that makes sense.

[2020-01-16 17:21] mcky commented on #84
Sorry script was probably the wrong word, it's fish functions for sublime/vscode/cat'ting files etc, with z's nice autocompletion
[code]

I occasionally run into
[code]
Which I should write a failsafe for..

[2020-01-17 05:29] jethrokuan commented on #84
I see. I'm open to a PR adding:

1. Optional arguments to `__z_add` that when existent, gets added to the index
2. A flag in `-u` in `z` as you suggested, which when set *in conjunction with -e*, calls `_z_add` with the result before returning

The reason in conjunction is important is because the directory would otherwise be added twice, once manually, and once by the change in directory.

[2020-02-13 19:16] pikeas opened #85 "Z_CMD reset by fisher refresh"
[code]

[2020-02-14 03:25] jethrokuan commented on #85
The problem is now `fisher` does a complete teardown and setup for all plugins. it runs:

[code]

So now it's between:

1. Having lingering environment variables after an uninstall, or
2. the behaviour you're seeing

[2020-02-16 12:06] benmkw opened #86 "fish 3.1.0: __z --list | fzy results in tcsetattr error"
I used to have this
[code]
(coming from (https://github.com/junegunn/fzf/wiki/examples#z originally)

I suspect after updating to fish 3.1.0 some behaviour of z changed because I now get `tcsetattr: Input/output error
` (also with just running `__z --list | fzy`)

`__z --list | fzf` results in `Failed to read /dev/tty` while `ls | fzf` works fine (just to take fzf vs fzy out of the equation)

curi

[2020-02-18 14:44] jethrokuan commented on #86
`__z --list | fzf` works for me on Fish 3.0.2, so I think it's something to do with Fish 3.1. `z` hasn't been updated for a while.

[2020-02-18 16:02] benmkw commented on #86
can you confirm that 3.1.0 breaks for you as well such that its not an issue with my setup? In that case I may file a bug on the fish issue tracker.

The behaviour seems to have some sort of race condition as well, as it works sometimes if I retry.

Downgrading to 3.0.2 solves the issue.

[2020-02-18 16:31] jethrokuan commented on #86
honestly this should be good enough cause for filing an issue in the tracker.

I'm currently running a setup where upgrading is not very convenient for me.

[2020-03-01 08:26] benmkw commented on #86
workaround is https://github.com/fish-shell/fish-shell/issues/6624#issuecomment-593012204

[code]

[2020-03-01 08:26] #86 closed

[2020-07-05 05:29] jorgebucaran commented on #85
https://github.com/jorgebucaran/fisher/issues/527

[2020-09-29 08:58] YanJa opened #91 "in centos7.4 bash: argparse: command not found..."
root@devserver ~/d/i/itour# cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)

root@devserver ~/d/i/itour# z itour
bash: argparse: command not found...
~/.config/fish/functions/__z.fish (line 30):     argparse $options -- $argv
                                                 ^
in function '__z'
	called on line 25 of file ~/.config/fish/conf.d/z.fish
	with parameter list “itour”

in fun

[2020-09-29 18:00] krobelus commented on #91
This is weird, why is it running bash when you're calling `z` from fish.
What's the output of `type argparse`? Maybe you have a script that overrides it, in that case using `builtin argparse` would work.

[2020-09-30 05:24] YanJa commented on #91
I don't know, and i commented that line, no error now

[2020-09-30 05:24] #91 closed

[2020-09-30 16:54] krobelus commented on #91
Oh well, yeah commenting it will disable any option parsing, then it always acts as if no flags were passed, which is alright for most uses I guess.

However, we should figure out why `argparse` does not work. Fish also uses it for git completions and some other functions, so you will probably run into problems at some point.

If you run `type argparse` and post the output we can try to help you.

[2020-11-11 09:17] jorgebucaran commented on #85
Fixed in [4.x](https://github.com/jorgebucaran/fisher/releases/tag/4.0.0). :tada:

[2020-11-12 15:33] demartini commented on #85
I am still having the same problem.

fish 3.1.2
fisher 4.1.0

[2020-11-12 15:42] jorgebucaran commented on #85
@jorgebucaran Are you using the latest Z?

[2020-11-12 15:42] jorgebucaran commented on #85
@demartini Are you using the latest Z?

[2020-11-12 15:49] demartini commented on #85
Yes, I installed and reinstalled it several times, I even tested it with Oh My Fish.

[2020-11-12 16:39] jorgebucaran commented on #85
I think this should do it (https://github.com/jethrokuan/z/pull/94).

[code]

cc @jethrokuan @demartini @pikeas

[2020-11-12 19:59] demartini commented on #85
Many thank @jorgebucaran, it's working like a charm.

[2020-11-15 16:18] jorgebucaran commented on #85
@jethrokuan Close 😉

[2020-11-16 01:17] #85 closed

[2020-11-21 08:11] jorgebucaran commented on #81
@krobelus Think we can close here? 👍

[2020-11-21 09:29] krobelus commented on #81
Yeah, we can reopen if it ever happens again.

Recent fish allows to `set fish_trace 1`, to log commands which may be helpful to find out where a freeze occurs.

awk -v path /Users/geoffrey/work/learning/exercism/rust/reverse-string -v now 1575526304 -F
awk: invalid -v option

The ps output doesn't add quoting to special shell characters, so copying commands sometimes goes wrong.
For example the `

[2020-11-21 09:29] #81 closed

[2020-11-26 05:25] xster opened #95 "Support using fzf to pick a previous directory via keybinding"
Similar to alt-k in https://github.com/gokulsoumya/f#keybindings

[2021-03-12 16:58] Sbozzolo opened #97 "Tab completion should be in order of relevance"
I haven't investigated too much, so maybe the answer is obvious. In that case, feel free to immediately close the issue. Consider this example:
[code]
With `z gray` I can move me to the first directory, as expected. Sometimes, I want to cd into the second one, so I hit `z gray [TAB]`, resulting in
[code]
As you see, the order does not reflect the score, so I have to navigate to the relevant one, w

[2021-03-12 19:37] #97 closed

[2021-03-12 19:37] krobelus commented on #97
that sounds reasonable

[2021-03-12 20:09] Sbozzolo commented on #97
Thank you very much!

I updated and it doesn't look like that the problem is solved:
![2021-03-12:13:07:47](https://user-images.githubusercontent.com/9167485/110993052-0b890800-8334-11eb-8352-3d0aab5015ed.png)

The order is different but it doesn't reflect `z -l`

[2021-03-13 07:50] krobelus commented on #97
my bad, should be fixed as of 97ca1fd1b281f5f240e7adb90d0a28f9eb4567db

[2021-03-24 15:08] micouy opened #99 "Match shortest?"
Is there an option (or another tool) to go to the shortest match? Say I have `foo/bar/baz` and `baz`.

I want `z baz` to go to `baz` by default and `z foo baz` or `z b b` to go `foo/bar/baz`. So that it just matches parts of the path in sequence and allows me to be more detailed if I need to.

[2021-03-26 11:45] afedulov opened #100 "Index lost"
I ran out of space on my harddrive, had to clean up and reboot and the search index is lost. I would like to debug what has happened and consider backing z's data up. Where is the index file located? I

[2021-03-26 12:40] jethrokuan commented on #100
[code]

should tell you where it is.

[2021-03-27 12:52] afedulov commented on #100
Thanks @jethrokuan. The file got truncated. Any idea why this could happen when the disk get's full?

[2021-07-14 03:58] ckoehler opened #104 "cached Z_DATA path not portable"
Sorry if this is not a z issue, but a fish thing. I am new to both.

In `z.fish`, it sets `Z_DATA` and some other vars that include the $HOME directory. Unfortunately, $HOME is different for me on different machines, so I get errors when `Z_DATA` points to the data path of another machine.

Any way to fix that? Is it a fish thing? Thanks!

[2021-08-18 13:36] aj3423 opened #105 "z "A" goes to subdir "A/B""
There is directory

[code]
This is ok, but
[code]
Why the second also goes to dir "server"? Is `z wa` supposed to be dir "/e/wa" ?

[2021-08-19 20:32] krobelus commented on #105
I think that's intentional, because you might have several directories with the same basename, like

[code]

if you change to `/e/wa` more often than `/e/wa/server`, then the former will also be prioritized, so that's an easy workaround

[2021-08-28 12:08] #105 closed

[2021-11-27 06:59] mk12 commented on #95
I implemented this in my own fish config:

[code]

[2022-01-12 10:15] tom-james-watson opened #106 "Doesn't work with paths with hyphens in them"
I have some folders like `my-folder`. If I ever run any `z` command with a `-` in it, e.g. `z my-folder`, then it consistently fails to find any results and doesn't change directory.

Have confirmed on macOS 11.6.2 and Ubuntu 21.10.

Thanks for the awesome script by the way - much appreciated!

[2022-01-12 13:10] krobelus commented on #106
works for me, can you check `fish_trace=1 z my-folder`

[2022-01-13 05:01] krobelus commented on #106
_zlua is coming from somewhere else, try to get rid of that.

If this works in `HOME=(mktemp -d) fish` (that is install inside the temporary HOME), then _zlua is lurking somewhere in your $HOME

[2022-01-13 05:01] #106 closed

[2022-01-13 10:08] tom-james-watson commented on #106
Yeah sorry it looks like I had a different version of fish-based z. Not actually sure where it came from. I've pulled in your version from fresh and can confirm it works as expected. Thanks!

[2022-03-27 09:27] ismay opened #107 "Completions shipped in dir incompatible with fisher 4"
I've noticed that z completions tend to behave a little buggy for this plugin. See here for example, screenshot before and after pressing tab:

![Screenshot from 2022-03-27 11-24-02](https://user-images.githubusercontent.com/7355199/160275234-f1c89366-c146-463c-b731-9e78e465b398.png)

![Screenshot from 2022-03-27 11-24-25](https://user-images.githubusercontent.com/7355199/160275236-58641af0-4942-4

[2022-03-27 09:55] krobelus commented on #107
that would be nice, TIA

[2022-04-01 09:27] ismay commented on #107
In looking through the source, it seems that it's been set up to allow for a variable command name, i.e. you can choose to use `j` or `jo` or anything you want instead of `z`.

That's not compatible with my suggestion of shipping the completions in the completions dir. If we want to do that there should be a fixed command name, because the completions filename should be identical to the command to

[2022-04-01 21:56] krobelus commented on #107
On Fri, Apr 01, 2022 at 02:27:57AM -0700, ismay wrote:

I think you're right. The variable for the command name sounds like a feature that users can already achieve with a simple `function myz --wraps z; z $argv; end`
That being said, I haven't looked into the details since I don't even use z myself at the moment (I'm happy with `CDPATH`). A quick search on github or grep.app should give an indica

[2022-04-08 09:04] ismay commented on #107
PR #108 fixes the bug. The potential solution we've discussed here is not necessary to fix this, but I think it would still be a good change. I'll see if I can create a separate PR for that.

[2022-04-08 09:34] ismay commented on #107
Done, see #109

[2022-04-13 13:52] markstos commented on #100
@afedulov Yes. The OS wrote half of the file, ran out of disk space and couldn't finish.

I think this support issue can be closed.

[2022-04-20 13:04] peey opened #110 "Feature request: `-c` option (restrict matches to subdirectories of the current directory)"
Use case: if you'd normally do `z a b c` then you may also wish to do `z -c a; z -c b; z -c c` and expect to land in the same directory with both commands.

Without `-c`, if you just do `z a; z b; z c` then you'll end up searching for `b` globally instead of within `a`.

Ref: `- c` option in readme of https://github.com/rupa/z

It seems that currently `-c` is used for "clean" operation according t

[2022-06-27 17:59] eko234 opened #111 "z fails to install"
Hi, I'd like to give a more descriptive title but I'm new to fish and I'm having issues installing z,
this is what I get as output from running `fisher install jethrokuan/z`

[code]

hope you can help me, thanks.

[2022-06-27 18:00] #111 closed, assigned to nobody

[2022-07-04 16:56] lorthirk commented on #104
Uhm... this means we should set `Z_DATA` explicitly to the home path value in every machine... something that should be the default actually. Doesn't sound very clean.

Also, I can't see where the documentation "recommends" to set `Z_DATA` explicitly -- perhaps it has been edited in the meanwhile?

For reference, Fisher itself fixed this very issue [here](https://github.com/jorgebucaran/fisher/iss

[2022-07-14 10:28] tennox commented on #110
:+1:
Using alias `zc` would also work, like in [autojump](https://github.com/wting/autojump#usage)

[2022-07-30 14:00] zedgamer9128 opened #112 "z index forgot after reboot"
i have a directory called search and z remembers it and works but after a reboot when i retry it z outputs `search did not match any results`

[2022-11-24 09:55] Susensio opened #113 "z vs zoxide"
How does this `fish` plugin compares to `zoxide`?